.banner-text {
	color: #FFFFFF;
	line-height: 1.2;
	font-size: 40;
}

.font-a {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.font-b {
	font-family: Verdana, Geneva, sans-serif;
}

.font-c {
	font-family: Tahoma, Geneva, sans-serif;
}

.font-d {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.font-e {
	font-family: "Arial Black", Gadget, sans-serif;
}

.front-banner{
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	text-align: center;
	/*opacity: 0.4;
	filter: alpha(opacity=40);*/
}

.heading {
	color: #FFFFFF;
	font-size: 100;
}

.medium-font {
	font-size: 16;
}

.media-content {
	color: #555555;
	font-size: 15;
	line-height: 1.6;
}

.services{
	background-color: #FFFFFF;
}

.white-font {
	color: #FFFFFF;
}

a:hover {
    text-decoration: none;
}

address {
	font-size:12px;
	color: #777777;
}

body{
	margin-top: 50px;
	font-family: candara;
}

i {
	color: #FFFFFF;
	font-size: 17px;
}

ol.breadcrumb, ol.breadcrumb > li > a {
	background-color: #151515;
	color: #AAAAAA;
	font-size:12px;
}

#banner {
	min-height: 480px;
	background-repeat: repeat-x;
}

/* Setting the background colour for the logo area */
#branding {
	background-color: #0090F0; /* Alternatives: 0099FF, 0066FF, 0066CC, 0099CC */
}

#container-carousel {
	background-color: #040404; /* #ACACAC */
}

#container-services {
	background-color: #FFFFFF;
}

#contact-info > h5 {
	color: #EEEEEE;
	font-weight: bold;
}

#contact-info > p {
	color: #AAAAAA;
}

#copyright {
	color: #999999;
	font-size:12px;
}

/* Setting the background colour for the footer section, and links therein */
#footer {
	background-color: #151515;
}